# Ignore macOS system files
.DS_Store

# Ignore build artifacts
**/bin/
**/obj/

# VS Code
.vscode/

# Visual Studio files (por si alguien lo abre ahí)
*.user
*.suo
*.cache
*.pdb
*.dll.refresh
*.log
*.vspscc
*.vssscc
*.tlb
*.tlh
*.tmp
*.ilk
*.res
*.pch
*.ipch
*.aps
*.prop
*.lnk
*.tlog
*.manifest
*.exe
*.dll
*.psess
*.rdlc.user
*.dbmdl
*.dbproj.user
*.dbproj
*.snk
*.sln.docstates
*.vs
